# Go
server/tmp/
server/bin/

# Node / pnpm
node_modules/
.pnpm-store/
pnpm-lock.yaml
.npmrc

# SvelteKit
client/.svelte-kit/
client/build/
client/.env

# Zig
client-3d/zig-out/
client-3d/.zig-cache/

# Env
.env
!.env.example

# DB
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
